<a href="https://colab.research.google.com/github/epic-coder97/Data-602/blob/main/Homework_%7C_Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework | Week 4
## Nikita Dharmadhikari

*Reference : PPT and Notebooks*

## 1. Simple Regression Using statsmodel

In [4]:
# importing Libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm

''' Statsmodels is a great Python library for a lot of basic and inferential statistics. 
It also provides basic regression functions using an R-like syntax, so it's commonly used by statisticians. '''
# ols - stands for Ordinary least squares, we'll use this
from statsmodels.formula.api import ols

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

- Import Boston datasets from scikit-learn datasets and load it

In [5]:
from sklearn.datasets import load_boston

In [6]:
boston = load_boston()
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

### - Checking the Datatype
### - printing the value of the boston_dataset to understand what it contains

In [7]:
type(boston)
print(boston.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

- data: contains the information for various houses
- target: prices of the house
- feature_names: names of the features
- DESCR: describes the dataset

<p>To know more about the features use boston_dataset.DESCR</p>

In [8]:
boston.DESCR

".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n"

### Converting it into a Dataframe

In [9]:
bostondf = pd.DataFrame(boston.data, columns=boston.feature_names)
bostondf.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

### Describing the dataset

In [10]:
bostondf.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

Define the data/predictors as the pre-set feature names

In [11]:
bostondf.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

## Put the target (housing value -- MEDV) in another DataFrame

In [12]:
df = pd.DataFrame()

df['MEDV'] = boston.target
bostondf['MEDV'] = boston.target

In [13]:
df.columns

Index(['MEDV'], dtype='object')

## - Print first five rows

In [14]:
df.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

## - Define 'RM' as X or the feature and 'MEDV' as y or the label

X : Feature or independent variable
Y : target or dependent variable

In [15]:
m = ols('MEDV ~ RM',bostondf).fit()
print(m.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   MEDV   R-squared:                       0.484
Model:                            OLS   Adj. R-squared:                  0.483
Method:                 Least Squares   F-statistic:                     471.8
Date:                Sun, 27 Feb 2022   Prob (F-statistic):           2.49e-74
Time:                        17:26:58   Log-Likelihood:                -1673.1
No. Observations:                 506   AIC:                             3350.
Df Residuals:                     504   BIC:                             3359.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -34.6706      2.650    -13.084      0.000     -39.877     -29.465
RM             9.1021      0.419     21.722      0.000       8.279       9.925
==============================================================================
Omnibus:                      102.585   Durbin-Watson:                   0.684
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              612.449
Skew:                           0.726   Prob(JB):                    1.02e-133
Kurtosis:                       8.190   Cond. No.                         58.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

- Skewness: not symmetric
- Kurtosis: tall
- Durbin-Watson: Positive autocorrelation



---
## 2. Multiple Regression Using statsmodel 
- Use 'RM' and 'LSTAT' as features and keep 'MEDV' as the target

In [16]:
from sklearn.metrics import mean_squared_error, r2_score

In [26]:
X = bostondf[['RM', 'LSTAT']] 
y = bostondf['MEDV']
predictions = m.predict(X)
est = sm.OLS(y, X).fit()
print(est.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   MEDV   R-squared (uncentered):                   0.948
Model:                            OLS   Adj. R-squared (uncentered):              0.948
Method:                 Least Squares   F-statistic:                              4637.
Date:                Sun, 27 Feb 2022   Prob (F-statistic):                        0.00
Time:                        18:22:28   Log-Likelihood:                         -1582.9
No. Observations:                 506   AIC:                                      3170.
Df Residuals:                     504   BIC:                                      3178.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
RM             4.9069      0.070     69.906      0.000       4.769       5.045
LSTAT         -0.6557      0.031    -21.458      0.000      -0.716      -0.596
==============================================================================
Omnibus:                      145.153   Durbin-Watson:                   0.834
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              442.157
Skew:                           1.351   Prob(JB):                     9.70e-97
Kurtosis:                       6.698   Cond. No.                         4.72
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

does a coefficient of determination of R2= .948 mean? 
<p>An R2 between 0 and 1 indicates the extent to which the dependent variable is predictable. In this case R2 of 0.948 means 94.8% of the variance Y (dependent variable) is predictable from X (independet variable).</p>

-Is there any autocorrelation? If not, why? 

<p>Answer : Durbin-Watson is a test of autocorrelation. Values from 0 to 2 mean positive autocorrelation .In this case the Durbin-Watson value is 0.834 which indicates that there is a POSTIVE AUTOCORRELATION.</p>

-Are the data coming from a normal distribution? Why? 

<p>Answer :Kurtosis: it is a measure of outliers in the distribution.
The normal distribution has a value of 3.
In this case Kurtosis value is greater than 3 which means 'tall distribution'.</p>

## 3. Multiple Regression Using scikitlearn

In [18]:
from sklearn import linear_model
from sklearn import datasets 
data = datasets.load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [20]:
# -Define the data/predictors as 'RM' and 'LSTAT' 
df1 = pd.DataFrame()
df1= pd.DataFrame(data.data, columns=data.feature_names)
target = pd.DataFrame(data.target, columns=["MEDV"])

feature_names=df1[['RM', 'LSTAT']]

# -Put the target (housing value -- MEDV) in another DataFrame 

df1 = pd.DataFrame(data.data, columns=data.feature_names)
target = pd.DataFrame(data.target, columns=["MEDV"])

In [27]:
# -Define the linear model as lm and fit

l = linear_model.LinearRegression()
model = l.fit(X,y)
predictions = l.predict(X)

#  -Print the predictions 

print("Predictions: \n", predictions)

Predictions:
 [28.94101368 25.48420566 32.65907477 32.40652    31.63040699 28.05452701
 21.28707846 17.78559653  8.10469338 18.24650673 17.99496223 20.73221309
 18.5534842  23.64474107 23.10895823 22.9239452  24.65257604 19.73611045
 18.9297215  20.57377596 13.51732408 20.14832175 17.90896697 15.48764606
 18.35281036 16.56210901 18.74440281 18.34995811 23.51018847 24.94888935
 13.23095259 21.20092715 11.15596625 15.89983805 16.63398622 22.65107562
 21.07107521 22.81275431 22.53014238 29.46686594 33.15564849 30.0244275
 26.33937234 25.50630935 23.42747337 21.03183392 19.03080004 17.28696205
  6.35742724 16.77652446 20.38222834 23.73891662 28.42223975 23.78518476
 19.13293549 32.4841017  27.4553513  30.83048667 25.54262118 22.91599173
 19.44389291 19.76157796 27.21060683 26.99027936 29.66411644 27.68813019
 21.54751591 23.38578845 18.73350058 22.97822472 27.01833368 22.66525802
 25.99579831 25.61529631 26.24614271 24.92488095 22.94287168 23.32670532
 22.46574406 22.72305097 29.51629037 27.72630168 26.43243306 25.2371736
 25.01284044 28.2255716  21.02614874 24.4054201  30.80793576 31.04628882
 25.67580476 26.00650589 26.22070738 26.2964101  23.67648254 28.12301466
 22.75656203 37.04724285 36.18974997 32.44847679 26.86335045 28.26259609
 24.44557513 21.27514504 22.14100643 17.87168992 16.38850335 20.80666424
 23.74364784 20.38848945 21.85328041 26.32686783 18.35457994 18.70127166
 23.79188665 18.72006301 22.37314344 22.7011548  18.68527463 19.0974602
 19.31744339 20.06438082 17.49427343 12.15448035 17.30132623 19.62580113
  9.72808395 16.60421542 21.52041395 15.58019521 23.45015298 22.9960428
 23.96269155 18.64893707 16.85319885 20.02281172 18.05910154 22.15148074
 14.78682073 18.12183323 14.57757085  2.1089178   8.94081614  9.5289207
  4.80679707 12.01521584 16.6199277   4.76981119  6.87170965 13.37866927
 20.77476672 17.64344278 16.39142155 17.58503369 20.15522473 20.33664069
 15.13378593 31.06641541 25.41634701 27.06176888 26.95118125 35.68531448
 37.15793504 39.17794689 20.98956504 23.42349342 36.66157528 20.78556599
 23.70551495 23.98706352 19.30437583 20.87150978 17.59364191 25.52296755
 22.29975565 28.56843941 22.81810809 26.77487939 29.14685309 30.96586131
 33.34652688 23.87381831 31.99876804 28.43022539 18.21274954 21.54294556
 35.68051731 28.90362563 29.11400321 31.78546743 30.77957096 29.96284283
 33.36854692 30.05522306 29.47417753 36.85537831 33.14662523 29.31968013
 31.44880281 31.24871937 32.13454487 25.26308832 35.41532933 36.20371198
 37.72326185 21.67268811 23.82468505 16.50389459 20.11954835 11.03622024
 17.91313514 10.7702086  17.93015692 25.09567941  7.23303098 24.05457308
 19.96157774 26.25685672 17.44974913 24.3660485  27.81829904 16.26099047
 27.31015547 27.47711073 38.09588116 40.11963326 37.593241   31.05029451
 35.28222297 29.60751072 21.63017953 33.03191447 39.53034953 38.12112827
 27.73828658 22.65974818 26.2971678  33.09082226 27.57564911 27.56371569
 26.47044207 21.72921661 23.82712868 27.87886702 19.10739721 15.34007899
 23.87668985 23.84194009 25.30124695 28.65464219 27.90170267 29.13590581
 31.81864228 38.44563265 25.54039794 22.63688679 34.6205424  39.69788713
 30.99783605 29.06799407 29.17926861 32.29101132 37.63141893 28.74470749
 30.1516669  20.25610379 24.87609035 36.13403709 34.66994109 20.03468079
 20.12614728 26.20006279 26.98602111 33.59902374 30.80477947 31.6471762
 31.77928355 30.7465393  27.04758648 30.23198502 36.06770189 31.19378511
 35.65788274 36.97788005 29.7110715  26.23178496 22.07656307 25.68882728
 25.93338997 25.98018255 31.4580143  32.77247603 29.40108735 24.34605866
 22.57578151 28.63713459 27.26046561 17.9655936  27.77563603 31.46935088
 29.74890034 26.11397583 26.16312839 31.09167539 31.05606979 26.61258457
 32.28899561 28.69897184 29.52933863 22.66348844 15.85869849 25.99071639
 21.79919554 25.49103786 26.13811454 20.32037179 16.99787506 17.86059947
 24.50183176 21.60894454 26.75585477 26.71309362 24.47318223 20.18149016
 27.3935591  28.14312838 26.84952519 21.4175594  22.13363049 26.19210932
 24.10506731 19.72807333 24.33872776 27.17181276 26.45392061 24.25367199
 22.24792619 21.89219835 24.04457816 22.8774631  23.07991295 32.00653973
 26.40524101 28.14429469 30.70202787 22.51774887 20.55210662 27.75396669
 28.59791904 30.21097042 27.86559837 28.63379008 23.61548826 30.02884824
 22.32252695 25.30645274 18.98504346 22.69880125 22.48321949 21.64239125
 26.23420929 21.37418212 19.41434893 18.80265585 39.9758901  12.21067586
 14.93414327  9.76025658 21.8687353  30.2941987  32.48537902 24.18925437
 22.86946459  1.30195776 -4.66638608 27.26661571 17.58856481 19.61202573
 15.92900559 16.35602829 23.08722293 18.44620086 11.68681678 10.98863617
  1.22032533  5.7358631   4.1767872   3.566624    3.83528036 12.70946315
 16.75749984 17.41964693  7.80331745 20.44917324 18.13218529 20.61292555
 18.83136329 15.12569572  6.77386462  9.2049472  11.94829024 17.90524602
 18.22245167 13.19432385  9.23322834 12.83401278  4.73131635 19.42149161
 10.30089127 20.84536661 21.47817885 18.92688695  0.14255003 12.0068039
 -2.08933711 12.76108347 16.62815786  8.55205663 15.74595036 18.80133187
 21.65619078 19.15599797 18.35983721 14.77469265 15.97135331 13.01347737
 18.30140239 20.91255925 16.37019782 15.67848584 19.6522403  20.80637788
 23.64816923 21.01273047 20.52559506 17.4673983  19.96458442 12.99448493
  7.02626334 12.61294049 14.08066091 18.74010433 19.6694889  19.57297267
 13.18491128 16.14520992 19.52022303 19.92887586 18.50703427 18.93104225
 21.82372195 21.15852796 19.63007869 25.55441624 20.90093631 20.23926219
 16.87694825 18.00283848 20.31851051 20.18046541 22.23437762 21.71554578
 21.83890979 25.21421407 21.7832886  18.90608793 17.94945984 15.53065977
 17.18748418 18.26704193 19.59726742 22.11000978 22.21261176 26.71344914
 14.6387614  14.55497489 19.67707879  9.66333655 18.5712701  21.95584378
 23.54446528 28.05969258 30.11309322 21.30452171 19.98416727 24.00387777
 20.16873308 21.37144731 14.82770934 10.82758006  5.52428703 17.5164286
 20.54835994 20.00295862 20.10379102 16.22366838 12.52317924 19.10367626
 21.00798639 17.31499063 20.14301944 26.02005928 23.98921598 30.56006716
 29.09323475 24.30151506]

In [28]:
# -Print the coefficient of determination 

l.score(X,y)

0.6385616062603403

In [29]:
# -Print coefficients 

l.coef_

array([ 5.09478798, -0.64235833])

In [30]:
# -Print intercept

l.intercept_

-1.358272811874489